.idea
**.pyc
db.sqlite3
.vagrant
vagrant_ansible_inventory_default
node_modules
.tmp
coverage
etc/static_collected
docs
settings/dev-m2.py
npm-debug.log
.idea
.tox*
junit-*.xml
*.log
*egg-info*
*sqlite3*
celerybeat-schedule
Berksfile.lock
target
*.iml
